body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.questions {
    background-color: #f8fffe; 
    height: 50px; 
    margin-top: 20px; 
    padding: 15px; 
    max-width: 600px; 
    border-left: 8px solid green; 
    box-sizing: border-box; 
}

.questions p {
    margin: 0; 
}
